<a href="https://colab.research.google.com/github/Je-Hyeon/Je-Hyeon/blob/main/_Pandas_%ED%95%9C%EB%B2%88%EC%97%90_%EC%A0%9C%EB%8C%80%EB%A1%9C_%EB%B0%B0%EC%9A%B0%EA%B8%B0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 한번에 제대로 배우기



---

In [49]:
import numpy as np
import pandas as pd
pd.__version__

'1.1.5'

## Pandas 객체

### Series 객체

In [50]:
s = pd.Series([0,0.25,5,4,6])
s

0    0.00
1    0.25
2    5.00
3    4.00
4    6.00
dtype: float64

In [51]:
s.values

array([0.  , 0.25, 5.  , 4.  , 6.  ])

In [52]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [53]:
s[1]

0.25

In [54]:
s[1:3]

1    0.25
2    5.00
dtype: float64

In [55]:
s = pd.Series([0,1,2,3,4,5], index = ['a','b', 'c','d','f', 'g'])
s

a    0
b    1
c    2
d    3
f    4
g    5
dtype: int64

In [56]:
s['a']

0

In [57]:
s[['c','d']]

c    2
d    3
dtype: int64

In [58]:
'b' in s
't' in s

False

In [59]:
s= pd.Series([1,2,3,4,5], index=[2,4,6,8,10])
s

2     1
4     2
6     3
8     4
10    5
dtype: int64

In [60]:
s[2]
s[2:6]

6     3
8     4
10    5
dtype: int64

In [61]:
s.unique()

array([1, 2, 3, 4, 5])

In [62]:
s.value_counts()

5    1
4    1
3    1
2    1
1    1
dtype: int64

In [63]:
s.isin([2,4])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [64]:
pop_dict = {'서울': 100,
            '부산': 50,
            '인천': 45,
            '대구': 40,
            '광주': 30,
            '울산': 10}

population = pd.Series(pop_dict)
population

서울    100
부산     50
인천     45
대구     40
광주     30
울산     10
dtype: int64

In [65]:
population['서울']

100

In [66]:
population['서울':'부산']

서울    100
부산     50
dtype: int64

### DataFrame 객체

In [67]:
pd.DataFrame([{'a':2, 'b':4, 'd':3},{'a':4,'b' : 5,'c': 7}])

   a  b    d    c
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [68]:
pd.DataFrame(np.random.rand(5,5),
             columns=['a','b','c','d','e'], 
             index = [1,2,3,4,5])

          a         b         c         d         e
1  0.181001  0.638936  0.907719  0.487438  0.698379
2  0.431989  0.981560  0.914230  0.173124  0.084008
3  0.790674  0.895148  0.531843  0.942397  0.419584
4  0.743315  0.284824  0.695664  0.852635  0.773818
5  0.969530  0.241599  0.591268  0.893307  0.378339

In [69]:
male_dict = {'서울': 51,
            '부산': 26,
            '인천': 23,
            '대구': 21,
            '광주': 16,
            '울산': 6}

male = pd.Series(male_dict)
male

서울    51
부산    26
인천    23
대구    21
광주    16
울산     6
dtype: int64

In [70]:
female_dict = {'서울': 49,
            '부산': 24,
            '인천': 22,
            '대구': 19,
            '광주': 14,
            '울산': 4}

female = pd.Series(female_dict)
female

서울    49
부산    24
인천    22
대구    19
광주    14
울산     4
dtype: int64

In [71]:
korea_df = pd.DataFrame({'population': population,
                         'pop of male': male,
                         'pop of female': female}
                        )
korea_df

    population  pop of male  pop of female
서울         100           51             49
부산          50           26             24
인천          45           23             22
대구          40           21             19
광주          30           16             14
울산          10            6              4

In [72]:
korea_df.index

Index(['서울', '부산', '인천', '대구', '광주', '울산'], dtype='object')

In [73]:
korea_df.columns

Index(['population', 'pop of male', 'pop of female'], dtype='object')

In [74]:
korea_df['pop of female']

서울    49
부산    24
인천    22
대구    19
광주    14
울산     4
Name: pop of female, dtype: int64

In [75]:
korea_df['서울':'대구']

    population  pop of male  pop of female
서울         100           51             49
부산          50           26             24
인천          45           23             22
대구          40           21             19

### Index 객체

In [76]:
idx = pd.Index([2,4,6,8,10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [77]:
idx[0]

2

In [78]:
idx[0:3]

Int64Index([2, 4, 6], dtype='int64')

In [79]:
print(idx)
print(idx.size)
print(idx.shape)  #1차원을 가진다
print(idx.ndim)   #1차원이기 때문에 1로 뜬다
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

#### Index 연산

In [80]:
# 캡쳐본 탭에 저장 되어있음

idx1 = pd.Index([1,2,4,6,8])
idx2 = pd.Index([2,4,5,6,7])

print(idx1.append(idx2))
print(idx1.difference(idx2)) #차집합을 구한다 
print(idx.intersection(idx2))  # 교집합을 구한다.
print(idx1 & idx2)
print(idx1.union(idx2))  #중복이 허용되지 않는다.
print(idx1 | idx2)
print(idx1.delete(0))
print(idx1.drop(1))
print(idx1 ^ idx2) # 여집합을 구한다

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')



---

## 인덱싱(Indexing)

In [81]:
s = pd.Series([0, 0.25, 5, 4, 6],
              index = ['a', 'b','c','d','e'])
s

a    0.00
b    0.25
c    5.00
d    4.00
e    6.00
dtype: float64

In [82]:
s.keys()    #파이썬에서 딕셔너리를 사용하는 것과 똑같다. keys함수의 사용으로 key만으로 구성된 것 을 추출할 수 있었음

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [83]:
s.items() 

list(s.items())
  #items함수는 zip으로 묶여서 온다. 따라서 리스트로 묶어야 읽을 수 있다.

[('a', 0.0), ('b', 0.25), ('c', 5.0), ('d', 4.0), ('e', 6.0)]

In [84]:
s['f'] = 100
s            #딕셔너리와 사용이 동일하다

a      0.00
b      0.25
c      5.00
d      4.00
e      6.00
f    100.00
dtype: float64

In [85]:
s['a':'d']
s[0:4]  #위치로도 슬라이싱이 가능하고, 키 값을 사용해서도 슬라이싱이 가능하다

a    0.00
b    0.25
c    5.00
d    4.00
dtype: float64

In [86]:
s[(s > 0.5) & (s < 10)]

c    5.0
d    4.0
e    6.0
dtype: float64

In [87]:
s[['a', 'c']]   # Squre Bracket을 두번을 적는다. 지금 데이터 처리하는 분야에선 계속 이런식으로 하는 듯

a    0.0
c    5.0
dtype: float64

### Series 인덱싱

In [88]:
s = pd.Series(['a','b','c','d','e'], index = [1,3,5,7,9])
s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [89]:
s[1]

'a'

In [90]:
s.iloc[1]   #지금 인덱스를 정수로 지정했기 때문에 위의 줄에서는 인덱스 1을 기준으로 찾지만, iloc을 사용하면 0부터 시작하는 위치를 출력한다

'b'

In [91]:
s.iloc[1:3]

3    b
5    c
dtype: object

In [92]:
s.reindex(range(10))   # 새로운 인덱스로 만든다 reindex

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [93]:
s.reindex(range(10), method = 'bfill')  #전에 있는 값으로 새로운 인덱스를 채운다.

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object

### DataFrame 인덱싱

In [94]:
korea_df

    population  pop of male  pop of female
서울         100           51             49
부산          50           26             24
인천          45           23             22
대구          40           21             19
광주          30           16             14
울산          10            6              4

In [95]:
korea_df['pop of male']

서울    51
부산    26
인천    23
대구    21
광주    16
울산     6
Name: pop of male, dtype: int64

In [102]:
korea_df['rate of male and female'] = ( korea_df['pop of male'] * 100 / korea_df['pop of female'])

korea_df['rate of male and female']

서울    104.081633
부산    108.333333
인천    104.545455
대구    110.526316
광주    114.285714
울산    150.000000
Name: rate of male and female, dtype: float64

In [105]:
korea_df.T  # Transpose matrix를 구한다.

                                 서울          부산  ...          광주     울산
population               100.000000   50.000000  ...   30.000000   10.0
pop of male               51.000000   26.000000  ...   16.000000    6.0
pop of female             49.000000   24.000000  ...   14.000000    4.0
rate of male and female  104.081633  108.333333  ...  114.285714  150.0

[4 rows x 6 columns]

In [108]:
korea_df.loc[:'인천', :'pop of male']    #이런식으로 슬라이싱이 가능하다!! col뽑아내고 row 뽑아내기

    population  pop of male
서울         100           51
부산          50           26
인천          45           23

In [111]:
korea_df.loc[(korea_df.population > 30)]   #조건을 걸 수 있다.

    population  pop of male  pop of female  rate of male and female
서울         100           51             49               104.081633
부산          50           26             24               108.333333
인천          45           23             22               104.545455
대구          40           21             19               110.526316

In [113]:
korea_df.loc[(korea_df.population < 40)]

    population  pop of male  pop of female  rate of male and female
광주          30           16             14               114.285714
울산          10            6              4               150.000000

In [114]:
korea_df.loc[(korea_df.population > 30)& (korea_df.population < 99)]

# &연산자를 활용해서 조건을 여러개 걸 수도 있다.

    population  pop of male  pop of female  rate of male and female
부산          50           26             24               108.333333
인천          45           23             22               104.545455
대구          40           21             19               110.526316

In [116]:
korea_df.iloc[:2]     # loc과는 달리 정수를 사용하는 iloc을 사용할 수도 있다 뭘 사용하는 지는 내맴

    population  pop of male  pop of female  rate of male and female
서울         100           51             49               104.081633
부산          50           26             24               108.333333

### 다중 인덱싱(Multi Indexing)

* 1차원의 Series와 2차원의 DataFrame 객체를 넘어 3차원, 4차원 이상의 고차원 데이터 처리
* 단일 인덱스 내에 여러 인덱스를 포함하는 다중 인덱싱



```
# 코드로 형식 지정됨

```
# 코드로 형식 지정됨
```


```

#### 다중 인덱스 Series

In [117]:
korea_df

    population  pop of male  pop of female  rate of male and female
서울         100           51             49               104.081633
부산          50           26             24               108.333333
인천          45           23             22               104.545455
대구          40           21             19               110.526316
광주          30           16             14               114.285714
울산          10            6              4               150.000000

In [118]:
idx_tuples = [ ('서울', 2010), ('서울', 2020),
                ('부산', 2010), ('부산', 2020),
                ('인천', 2010), ('인천', 2020),
                ('대구', 2010), ('대구', 2020),
                ('광주', 2010), ('광주', 2020),
                ('울산', 2010), ('울산', 2020)
              ]
idx_tuples

[('서울', 2010),
 ('서울', 2020),
 ('부산', 2010),
 ('부산', 2020),
 ('인천', 2010),
 ('인천', 2020),
 ('대구', 2010),
 ('대구', 2020),
 ('광주', 2010),
 ('광주', 2020),
 ('울산', 2010),
 ('울산', 2020)]

In [121]:
pop_tuples = [100,98,
              45,50,
              41,43,
              32,35,
              24,26,
              15,18]

population = pd.Series(pop_tuples, index = idx_tuples)
population

(서울, 2010)    100
(서울, 2020)     98
(부산, 2010)     45
(부산, 2020)     50
(인천, 2010)     41
(인천, 2020)     43
(대구, 2010)     32
(대구, 2020)     35
(광주, 2010)     24
(광주, 2020)     26
(울산, 2010)     15
(울산, 2020)     18
dtype: int64

In [122]:
midx = pd.MultiIndex.from_tuples(idx_tuples)
midx                                            #이런식으로 멀티인덱스를 바로 만들 수 있다고 하는데 차이를 잘 모르겠다

MultiIndex([('서울', 2010),
            ('서울', 2020),
            ('부산', 2010),
            ('부산', 2020),
            ('인천', 2010),
            ('인천', 2020),
            ('대구', 2010),
            ('대구', 2020),
            ('광주', 2010),
            ('광주', 2020),
            ('울산', 2010),
            ('울산', 2020)],
           )

In [123]:
population = population.reindex(midx)
population

서울  2010    100
    2020     98
부산  2010     45
    2020     50
인천  2010     41
    2020     43
대구  2010     32
    2020     35
광주  2010     24
    2020     26
울산  2010     15
    2020     18
dtype: int64

In [126]:
population[: , 2010]

서울    100
부산     45
인천     41
대구     32
광주     24
울산     15
dtype: int64

In [127]:
population['인천', :]

2010    41
2020    43
dtype: int64

In [129]:
korea_mdf = population.unstack()
korea_mdf                                 #unstack()는 전형적인 DataFrame구조로 바꿔서 출력한다.

    2010  2020
광주    24    26
대구    32    35
부산    45    50
서울   100    98
울산    15    18
인천    41    43

In [132]:
korea_mdf.stack()      #다시 다중 인덱싱 구조로 변환해서 출력한다

광주  2010     24
    2020     26
대구  2010     32
    2020     35
부산  2010     45
    2020     50
서울  2010    100
    2020     98
울산  2010     15
    2020     18
인천  2010     41
    2020     43
dtype: int64

In [134]:
male_tuples = [51,47,
               17,16,
               13, 14,
               12, 11,
               7,7,
               7,7]
male_tuples

[51, 47, 17, 16, 13, 14, 12, 11, 7, 7, 7, 7]

In [136]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples})
korea_mdf

         총인구수  남자인구수
서울 2010   100     51
   2020    98     47
부산 2010    45     17
   2020    50     16
인천 2010    41     13
   2020    43     14
대구 2010    32     12
   2020    35     11
광주 2010    24      7
   2020    26      7
울산 2010    15      7
   2020    18      7

In [138]:
female_tuples = [52,49,
                 17,17,
                 13, 14,
                 12,12,
                 7, 7,
                 7,7]

female_tuples

[52, 49, 17, 17, 13, 14, 12, 12, 7, 7, 7, 7]

In [139]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples
                          })
korea_mdf                                             # 숫자를 무작위로 적었기 때문에 숫자 맞지 않는 건 신경쓰지 않도록

         총인구수  남자인구수  여자인구수
서울 2010   100     51     52
   2020    98     47     49
부산 2010    45     17     17
   2020    50     16     17
인천 2010    41     13     13
   2020    43     14     14
대구 2010    32     12     12
   2020    35     11     12
광주 2010    24      7      7
   2020    26      7      7
울산 2010    15      7      7
   2020    18      7      7

In [142]:
ratio = korea_mdf['남자인구수'] * 100 / korea_mdf['여자인구수']
ratio.unstack()     #unstack을 빼고 출력하면 다중인덱싱 형태로 보여준다.

          2010        2020
광주  100.000000  100.000000
대구  100.000000   91.666667
부산  100.000000   94.117647
서울   98.076923   95.918367
울산  100.000000  100.000000
인천  100.000000  100.000000

In [143]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples,
                          '남여비율' : ratio                          })
korea_mdf

         총인구수  남자인구수  여자인구수        남여비율
서울 2010   100     51     52   98.076923
   2020    98     47     49   95.918367
부산 2010    45     17     17  100.000000
   2020    50     16     17   94.117647
인천 2010    41     13     13  100.000000
   2020    43     14     14  100.000000
대구 2010    32     12     12  100.000000
   2020    35     11     12   91.666667
광주 2010    24      7      7  100.000000
   2020    26      7      7  100.000000
울산 2010    15      7      7  100.000000
   2020    18      7      7  100.000000

#### 다중 인덱스 생성

In [147]:
df = pd.DataFrame( np.random.rand(6,3),
                  index = [['a','a','b','b','c', 'c'], [1,2,1,2,1,2]],
                  columns = ['c1', 'c2', 'c3'])
df

           c1        c2        c3
a 1  0.527405  0.341500  0.204449
  2  0.593442  0.977525  0.682246
b 1  0.253165  0.989511  0.298082
  2  0.935724  0.305035  0.063316
c 1  0.505692  0.536933  0.862569
  2  0.215255  0.825307  0.082358

In [149]:
pd.MultiIndex.from_arrays([['a','a','b','b','c', 'c'], [1,2,1,2,1,2]])    #  from_arrays를 활용해서 똑같이 생긴 멀티 인덱스를 만들 수 있다.

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [151]:
pd.MultiIndex.from_tuples([('a',1), ('a',2), ('b',1), ('b',2), ('c',1),('c',2)])   #from_tuples를 사용해서 똑같이 생긴 멀티 인덱스를 만들 수 있다.

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [153]:
pd.MultiIndex.from_product([['a','b','c'], [1,2]])    #from_product를 사용해서 똑같은 멀티인덱스를 만들 수 있다. 마치 행렬의 곱 연산과 비슷한 product, 신기방기하군...

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [154]:
population

서울  2010    100
    2020     98
부산  2010     45
    2020     50
인천  2010     41
    2020     43
대구  2010     32
    2020     35
광주  2010     24
    2020     26
울산  2010     15
    2020     18
dtype: int64

In [157]:
population.index.names = ['행정구역', '년도']
population

행정구역  년도
서울    2010    100
      2020     98
부산    2010     45
      2020     50
인천    2010     41
      2020     43
대구    2010     32
      2020     35
광주    2010     24
      2020     26
울산    2010     15
      2020     18
dtype: int64

In [161]:
idx = pd.MultiIndex.from_product([['a', 'b', 'c'],[1,2]], names = ['name1', 'name2'])

cols = pd.MultiIndex.from_product([['c1','c2','c3'], [1,2]], names = ['colname1', 'colname2'])

data = np.round(np.random.randn(6,6),2)

mdf = pd.DataFrame(data, index = idx , columns = cols)

mdf

colname1       c1          c2          c3
colname2        1     2     1     2     1     2
name1 name2
a     1      0.24  0.02  1.23 -1.32  0.36  0.19
      2     -0.53 -2.72  0.04 -1.38 -0.35 -0.11
b     1      1.63 -0.26 -1.40 -0.22  0.87  1.20
      2     -0.60 -1.59  0.46  1.99 -0.40  0.50
c     1     -0.34  0.75  0.52 -0.50 -1.73  0.97
      2     -0.82 -0.50  0.08  0.97 -0.11  0.43

#### 인덱싱 및 슬라이싱

In [162]:
population['인천', 2010]

41

In [163]:
population[: , 2010]

행정구역
서울    100
부산     45
인천     41
대구     32
광주     24
울산     15
dtype: int64

In [166]:
population[ population > 45]

행정구역  년도
서울    2010    100
      2020     98
부산    2020     50
dtype: int64

In [170]:
population[['대구', '울산']]  #무조건 리스트를 두 번을 감싸 주어야 하네 이건 다시 공부하면서 확실하게 하자

행정구역  년도
대구    2010    32
      2020    35
울산    2010    15
      2020    18
dtype: int64

In [171]:
mdf

colname1       c1          c2          c3
colname2        1     2     1     2     1     2
name1 name2
a     1      0.24  0.02  1.23 -1.32  0.36  0.19
      2     -0.53 -2.72  0.04 -1.38 -0.35 -0.11
b     1      1.63 -0.26 -1.40 -0.22  0.87  1.20
      2     -0.60 -1.59  0.46  1.99 -0.40  0.50
c     1     -0.34  0.75  0.52 -0.50 -1.73  0.97
      2     -0.82 -0.50  0.08  0.97 -0.11  0.43

In [172]:
mdf['c2',1 ]

name1  name2
a      1        1.23
       2        0.04
b      1       -1.40
       2        0.46
c      1        0.52
       2        0.08
Name: (c2, 1), dtype: float64

In [173]:
mdf.iloc[:3, :4]

colname1       c1          c2
colname2        1     2     1     2
name1 name2
a     1      0.24  0.02  1.23 -1.32
      2     -0.53 -2.72  0.04 -1.38
b     1      1.63 -0.26 -1.40 -0.22

In [174]:
mdf.loc[:, ('c2', 1)]

name1  name2
a      1        1.23
       2        0.04
b      1       -1.40
       2        0.46
c      1        0.52
       2        0.08
Name: (c2, 1), dtype: float64

In [176]:
idx_slice = pd.IndexSlice
mdf.loc[idx_slice[:, 2], idx_slice[: , 2]]    # IndexSlice를 사용해서 원하는 부분만 잘라서 새로운 객체로 사용할 수 있다.

colname1       c1    c2    c3
colname2        2     2     2
name1 name2
a     2     -2.72 -1.38 -0.11
b     2     -1.59  1.99  0.50
c     2     -0.50  0.97  0.43

#### 다중 인덱스 재정렬

In [177]:
idx

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           names=['name1', 'name2'])

In [178]:
korea_mdf

           총인구수  남자인구수  여자인구수        남여비율
행정구역 년도
서울   2010   100     51     52   98.076923
     2020    98     47     49   95.918367
부산   2010    45     17     17  100.000000
     2020    50     16     17   94.117647
인천   2010    41     13     13  100.000000
     2020    43     14     14  100.000000
대구   2010    32     12     12  100.000000
     2020    35     11     12   91.666667
광주   2010    24      7      7  100.000000
     2020    26      7      7  100.000000
울산   2010    15      7      7  100.000000
     2020    18      7      7  100.000000

In [181]:
# korea_mdf['서울': '인천'] 이런식으로 출력하면 마치 서울,부산,인천의 자료를 뽑아낼 것 같지만 UnsortedIndexError가 발생하게 된다.
# 슬라이싱해서 추출하기 위해선 정렬이 필요한데 위의 데이터는 정렬이 되지 않았다고 한다.
#따라서 sort_index() 메서드를 사용해서 정렬을 해야한다.

korea_mdf = korea_mdf.sort_index()   
korea_mdf

           총인구수  남자인구수  여자인구수        남여비율
행정구역 년도
광주   2010    24      7      7  100.000000
     2020    26      7      7  100.000000
대구   2010    32     12     12  100.000000
     2020    35     11     12   91.666667
부산   2010    45     17     17  100.000000
     2020    50     16     17   94.117647
서울   2010   100     51     52   98.076923
     2020    98     47     49   95.918367
울산   2010    15      7      7  100.000000
     2020    18      7      7  100.000000
인천   2010    41     13     13  100.000000
     2020    43     14     14  100.000000

In [183]:
korea_mdf['광주': '부산']

           총인구수  남자인구수  여자인구수        남여비율
행정구역 년도
광주   2010    24      7      7  100.000000
     2020    26      7      7  100.000000
대구   2010    32     12     12  100.000000
     2020    35     11     12   91.666667
부산   2010    45     17     17  100.000000
     2020    50     16     17   94.117647

In [185]:
korea_mdf.unstack(level=0)   #level에 따라서 달라진다

     총인구수                   ...        남여비율
행정구역   광주  대구  부산   서울  울산  ...          대구          부산         서울     울산     인천
년도                          ...
2010   24  32  45  100  15  ...  100.000000  100.000000  98.076923  100.0  100.0
2020   26  35  50   98  18  ...   91.666667   94.117647  95.918367  100.0  100.0

[2 rows x 24 columns]

In [186]:
korea_mdf.unstack(level=1)

     총인구수      남자인구수      여자인구수             남여비율
년도   2010 2020  2010 2020  2010 2020        2010        2020
행정구역
광주     24   26     7    7     7    7  100.000000  100.000000
대구     32   35    12   11    12   12  100.000000   91.666667
부산     45   50    17   16    17   17  100.000000   94.117647
서울    100   98    51   47    52   49   98.076923   95.918367
울산     15   18     7    7     7    7  100.000000  100.000000
인천     41   43    13   14    13   14  100.000000  100.000000

In [187]:
korea_mdf.stack()

행정구역  년도
광주    2010  총인구수      24.000000
            남자인구수      7.000000
            여자인구수      7.000000
            남여비율     100.000000
      2020  총인구수      26.000000
            남자인구수      7.000000
            여자인구수      7.000000
            남여비율     100.000000
대구    2010  총인구수      32.000000
            남자인구수     12.000000
            여자인구수     12.000000
            남여비율     100.000000
      2020  총인구수      35.000000
            남자인구수     11.000000
            여자인구수     12.000000
            남여비율      91.666667
부산    2010  총인구수      45.000000
            남자인구수     17.000000
            여자인구수     17.000000
            남여비율     100.000000
      2020  총인구수      50.000000
            남자인구수     16.000000
            여자인구수     17.000000
            남여비율      94.117647
서울    2010  총인구수     100.000000
            남자인구수     51.000000
            여자인구수     52.000000
            남여비율      98.076923
      2020  총인구수      98.000000
            남자인구수     47.000000
            여자인구수     49.000000
            남여비율      95.918367
울산    2010  총인구수      15.000000
            남자인구수      7.000000
            여자인구수      7.000000
            남여비율     100.000000
      2020  총인구수      18.000000
            남자인구수      7.000000
            여자인구수      7.000000
            남여비율     100.000000
인천    2010  총인구수      41.000000
            남자인구수     13.000000
            여자인구수     13.000000
            남여비율     100.000000
      2020  총인구수      43.000000
            남자인구수     14.000000
            여자인구수     14.000000
            남여비율     100.000000
dtype: float64

In [189]:
idx_flat = korea_mdf.reset_index(level= 0 )   #reset_index를 사용하면 이렇게 된다
idx_flat

     행정구역  총인구수  남자인구수  여자인구수        남여비율
년도
2010   광주    24      7      7  100.000000
2020   광주    26      7      7  100.000000
2010   대구    32     12     12  100.000000
2020   대구    35     11     12   91.666667
2010   부산    45     17     17  100.000000
2020   부산    50     16     17   94.117647
2010   서울   100     51     52   98.076923
2020   서울    98     47     49   95.918367
2010   울산    15      7      7  100.000000
2020   울산    18      7      7  100.000000
2010   인천    41     13     13  100.000000
2020   인천    43     14     14  100.000000

In [190]:
idx_flat = korea_mdf.reset_index(level= (0,1) )   #reset_index를 사용하면 이렇게 된다
idx_flat

   행정구역    년도  총인구수  남자인구수  여자인구수        남여비율
0    광주  2010    24      7      7  100.000000
1    광주  2020    26      7      7  100.000000
2    대구  2010    32     12     12  100.000000
3    대구  2020    35     11     12   91.666667
4    부산  2010    45     17     17  100.000000
5    부산  2020    50     16     17   94.117647
6    서울  2010   100     51     52   98.076923
7    서울  2020    98     47     49   95.918367
8    울산  2010    15      7      7  100.000000
9    울산  2020    18      7      7  100.000000
10   인천  2010    41     13     13  100.000000
11   인천  2020    43     14     14  100.000000

In [192]:
idx_flat.set_index(['행정구역', '년도'])   #원래대로 되돌리기 set_index

           총인구수  남자인구수  여자인구수        남여비율
행정구역 년도
광주   2010    24      7      7  100.000000
     2020    26      7      7  100.000000
대구   2010    32     12     12  100.000000
     2020    35     11     12   91.666667
부산   2010    45     17     17  100.000000
     2020    50     16     17   94.117647
서울   2010   100     51     52   98.076923
     2020    98     47     49   95.918367
울산   2010    15      7      7  100.000000
     2020    18      7      7  100.000000
인천   2010    41     13     13  100.000000
     2020    43     14     14  100.000000

## 데이터 연산

### 연산자 범용 함수

#### add()

#### sub() / subtract()

#### mul() / multply()

#### truediv() /  div() / divide() / floordiv()

#### mod()

#### pow()

### 정렬(Sort)

### 순위(Ranking)

### 고성능 연산

## 데이터 결합

### Concat() / Append()

### 병합과 조인

## 데이터 집계와 그룹 연산

#### 집계 연산(Aggregation)

### GroupBy 연산

### 피벗 테이블(Pivot Table)

### 범주형(Categorical) 데이터

## 문자열 연산

#### 문자열 연산자

#### 기타 연산자

#### 정규표현식

## 시계열 처리

#### 시계열 데이터 구조

### 시계열 기본

### 주기와 오프셋

### 시프트(Shift)

### 시간대 처리

* 국제표준시(Coordinated Universal Time, UTC)를 기준으로 떨어진 거리만큼 오프셋으로 시간대 처리
* 전 세계의 시간대 정보를 모아놓은 올슨 데이터베이스를 활용한 라이브러리인 `pytz` 사용

### 기간과 기간 연산

### 리샘플링(Resampling)

* 리샘플링(Resampling): 시계열의 빈도 변환
* 다운샘플링(Down sampling): 상위 빈도 데이터를 하위 빈도 데이터로 집계
* 업샘플링(Up sampling): 하위 빈도 데이터를 상위 빈도 데이터로 집계

### 무빙 윈도우(Moving Window)

## 데이터 읽기 및 저장

### 텍스트 파일 읽기/쓰기

### 이진 데이터 파일 읽기/쓰기

## 데이터 정제

### 누락값 처리

* 대부분의 실제 데이터들은 정제되지 않고 누락값들이 존재
* 서로 다른 데이터들은 다른 형태의 결측을 가짐
* 결측 데이터는 `null`, `NaN`, `NA`로 표기

#### None: 파이썬 누락 데이터

#### NaN: 누락된 수치 데이터

#### Null 값 처리

### 중복 제거

### 값 치환

## 참고문헌

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly