<a href="https://colab.research.google.com/github/Je-Hyeon/Je-Hyeon/blob/main/HackerRack%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4_%EC%95%84%EC%9D%B4%EB%94%94%EC%96%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1/14/2022

## print에서 end 사용

In [ ]:
# 숫자를 입력하면, 그 숫자보다 작은 숫자들을 나란히 출력하는 문제
# ex) 5 -> 12345

n = int(input())
for i in range(1,n+1):
  print(i, end='')

# 처음 풀 때는 시간이 굉장히 오래걸렸는데 end를 사용하니 정말 간단하게 풀린다.
# end는 print할 마지막 벨류 이후에 어떤 값을 출력할지 정한다고 한다. 디폴트는 뉴라인

5
12345

# 1/15/2022

## 리스트 내포 응용

In [ ]:
# 리스트 내포 응용

x = int(input())
y = int(input())
z = int(input())
n = int(input())

array = [[a,b,c] for a in range(x+1) for b in range(y+1) for c in range(z+1) if (a+b+c) != n ]
print(array)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

## 가장 큰 값 고정시켜 버리기

In [ ]:
# 준우승 출력하기 -> 하 오래도 걸렸다...
# ex) 2 6 6 4 5 입력했을 때 5를 출력해야 함...

arr = list(map(int, input().split()))


# 입력받은 리스트에서 가장 큰 값을 고정으로 박아두고
z = max(arr)
# 최고값과 똑같은게 있으면 몽땅 지워버리면 된다.
while max(arr) == z:
    arr.remove(z)

print('준우승:' , max(arr))

2 5 5 6 4 45 6
준우승: 6

## set사용, 딕셔너리 반복

In [ ]:
# 학생이름이랑 점수 입력받아서 두번째로 낮은 점수를 기록한 학생을 출력하는 것
# 요구사항: 동점자가 2명 이상이면 둘의 이름을 정렬해서 전부 출력함


stu_dict = dict()

for _ in range(int(input())):  # 입력을 n번 받아야 하기 때문에 이런 코드를 써야함. 처음 input하는 숫자가 반복 횟수임
    name = input()
    score = float(input())
    stu_dict[name] = score     # 딕셔너리에 이름, 성적 추가

z = stu_dict.values()

find_second = sorted(list(set(z)))[1]    # 집합 (set)을 사용하면, 겹치는 건 저장하지 않음. 유용하게 사용할 수 있을 듯, 여기서 두번째로 작은 숫자를 찾는다.

a = list()
for key, value in stu_dict.items():    # 내 생각엔 이 부분이 핵심. 1. 딕셔너리를 반복돌릴 땐 items함수를 사용해야함.
    if value == find_second:           # 그리고 value에 뭔가 조건을 걸어서 해당하는 key값을 추출해 내는 방법은 이런 것 밖에 없는 듯 -> 만약 value가 ~ 하면 key를 ~ 한다.
        a.append(key)

for i in sorted(a):          
    print(i)

3
a
3
s
1
d
2

## 평균출력 (소숫점 2째자리까지 표시)

In [ ]:
# 학생 이름, 성적 3가지를 입력 받아서 원하는 사람의 평균을 출력하는 시스템이다
## 소숫줌 둘째 자리까지 표시하는 걸 몰라서 시간이 많이 걸렸다. 나중에 쓸모 있으려나 모르겠다.

n = int(input())
student_marks = {}

for _ in range(n):
    name, *line = input().split()   # -> 요 아이디어가 참신하다. 그냥 한 줄로 입력 받아서, split해준 다음, 한번에 매칭 시켜 버린다.
    scores = list(map(float, line))  # -> 여러개의 line라는 숫자들을 한번에 float으로 변환시켜 버리기 map 사용법도 알아 두면 좋을 것 같다.
    student_marks[name] = scores

query_name = input()
s = sum(student_marks[query_name]) / 3

print("%.2f"%(s))    # -> 문제의 그 부분...

TypeError: ignored

# 1월 18일

In [ ]:
# append 1 10 -> 이런식으로 직접 입력받아서 명령따라 수행하기

lista = list()

N = int(input())
for _ in range(N):
    n, *num = input().split()
    
    if n == 'insert':
        list_of_insert = list(map(int, num))
        lista.insert( list_of_insert[0] , list_of_insert[1])

    elif n == 'remove':
        a = list(map(int, num))
        lista.remove(a[0])

    elif n == 'append':
        b = list(map(int, num))
        lista.append(b[0])

    elif n == 'sort':
        lista = sorted(lista)

    elif n == 'pop':
        lista.pop()

    elif n == 'reverse':
        lista.reverse()

    elif n == 'print':
        print(lista)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = int(input())
set_a = set(map(int, input().split()))
print(set_a)
    
b = int(input())
set_b = set(map(int, input().split()))
print(set_b)

5
1 2 3 4 5
{1, 2, 3, 4, 5}
4
4 5 6 7
{4, 5, 6, 7}

In [ ]:
print(len(set_b - set_a))

2

#22년 1월 19일

In [ ]:
# 문자열입력받아서 대문자는 소문자로, 소문자는 대문자로 바꿔서 출력하는 문제

lista = list()
def swap_case(s):
    for i in s:

        if i.isupper() == True:
            lista.append(i.lower())
        
        elif i.islower() == True:
            lista.append(i.upper())
   
        else:
            lista.append(i)

    return ''.join(lista)



if __name__ == '__main__':
    s = input()
    result = swap_case(s)
    print(result)

# 시불 근데 내장 함수 있음 ㅋㅋ

# a = input()
# print(a.swapcase)

In [ ]:
# 문자열과 sub문자열을 입력받아서. 문자열에서 sub문자열이 몇번 등장하는지 출력하는 코드

def count_substring(string, sub_string):
    count = 0
    for i in range(len(string)):
        if string[i:].startswith(sub_string):    # 문자열에서 한칸씩 밀면서 계속 서브문자열로 시작하는 지 살핀다.
            count = count + 1 
        else:
            continue
    
    
    return count

if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()
    
    count = count_substring(string, sub_string)
    print(count)

# 22년 1월 21일

In [1]:
# rjust의 사용 어렵다.

def print_formatted(STDIN):
    w = len(str(bin(STDIN))[2:])

    for i in range(1 , STDIN+1):
        b = bin(i)[2:].rjust(w, ' ')
        o = oct(i)[2:].rjust(w, ' ')
        h = hex(i)[2:].upper().rjust(w, ' ')
        j = str(i).rjust(w, ' ')
        print(j, o, h, b)

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

    # rjust를 공백을 가지고 있는 하나 자체의 '문자열'이라고 생각하면 될 것 같다.

13
   1    1    1    1
   2    2    2   10
   3    3    3   11
   4    4    4  100
   5    5    5  101
   6    6    6  110
   7    7    7  111
   8   10    8 1000
   9   11    9 1001
  10   12    A 1010
  11   13    B 1011
  12   14    C 1100
  13   15    D 1101